

<head>

    <title> TravelWits Test </title>
    <script src="static/flightAPIGrabber.js"></script>
</head>

<h1> TravelWits Test</h1>

<form method="POST" action="/getInformation">
       Leave Date:<br>
      <input type="text" name="LeaveDate" value="1545415916"><br>
       End date:<br>
      <input type="text" name="returnDate" value="1545761516"><br>
        from airport:<br>
      <input type="text" name="fromAirport"><br>
        to airport:<br>
      <input type="text" name="toAirport"><br>
      <input type="submit" value="Submit">

</form>


